<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">


        <asset:stylesheet src="bootstrap.css"/>
		<asset:stylesheet src="form.css"/>


<div class="testbox">
  <h1>Registration</h1>

  <form action="/">
     
   
  <hr>
  <label id="icon" for="name"><i class="icon-envelope "></i></label>
  <input type="text" name="name" id="name" placeholder="Email" required/>
  <label id="icon" for="name"><i class="icon-user"></i></label>
  <input type="text" name="fname" id="fname" placeholder="firstName" required/>
  <label id="icon" for="name"><i class="icon-user"></i></label>
  <input type="text" name="lname" id="lname" placeholder="LastName" required/>
 </hr>
  
   <p>By clicking Register, you agree on our <a href="#">terms and condition</a>.</p>
   <a href="#" class="button">Register</a>
  </form>
</div>